@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c9a3c5;
  padding-top: 5%;
  font-size: 5px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.iphone {
  position: relative;
  background: #d7d7d7;
  width: 45%;
  height: 0;
  padding-top: 95%;
  margin: 0 auto;
  border-radius: 5em;
}
.lock {
  position: absolute;
  background: #c97818;
  width: 1%;
  height: 5%;
  top: 12.5%;
  left: -1%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.volume {
  position: absolute;
  background: #c97818;
  width: 1%;
  height: 4%;
  top: 23%;
  left: -1%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.volume.down{ top: 31%; }

.camera {
  position: absolute;
  top: 4%;
  left: 48.5%;
  background: #3f3f3f;
  width: 3%;
  height: 0;
  padding-top: 3%;
  border-radius: 50%;
}

.speaker {
  position: absolute;
  top: 7%;
  left: 42.5%;
  background: #3f3f3f;
  width: 15%;
  height: 0;
  padding-top: 3%;
  border-radius: 1em;
}
.screen {
  background: #2f2f2f;
  width: 90%;
  height: 75%;
  position: absolute;
  top: 12.5%;
  left: 5%;
}
.screen img{
  width:100%;
  height: 100%;
  position: relative;
}
.screen img{
      transform: scale(1);
    transition: transform 2s linear;
    z-index: 1;
}
.screen img:hover{
    transform: scale(0.5);
    -webkit-: scale(0.5);
    -moz-: scale(0.5);
    -o-: scale(0.5);
    -ms-: scale(0.5);
}
.button {
  position: absolute;
  bottom: 2.75%;
  left: 42.5%;
  background: #3f3f3f;
  /* border: 1px solid #3f3f3f; */
  width: 15%;
  height: 0;
  padding-top: 15%;
  border-radius: 50%;
}

.square {
  position: absolute;
  top: 27.5%;
  left: 27.5%;
  border: 2px solid #d7d7d7;
  border-radius:50%;
  width: 45%;
  height: 45%;
}
